@charset "+UTF-8";

/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


/*fonte display baixada */
@font-face {
    font-family: 'Cristik';
    src: url('../fontes/cristik/Cristik.ttf') format('truetype');
}

*{
   margin: 0px; 
   padding: 0px;
}

/*configurações de tema e estilo*/
:root{
    /*definindo paleta de cores*/
    --rosa-claro: #F4BDDC;
    --azul: #6EBEFB;
    --rosa-escuro: #F0739D;
    --laranja: #F28A3E;
    --verde: #B2CB7D;

    /*definindo fontes*/
    --fonte-display: 'Cristik';
    --fonte-corpo: 'Hammersmith One', sans-serif;

}

body{
    background-color: var(--rosa-claro);
    text-align: center;
}


h1{
    font-family: 'Cristik';
    margin: 0;
    padding: 10;
    font-size: 34px;
    line-height: 1;
}

#hamburguer {
    display: none; /*escondendo o menu hamburguer das telas de computador*/
}

nav a {
    display: inline-block;
}

/*estilo do menu*/
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 15px;
}

#menu a {
    text-decoration: none;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    font-size: large;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 10px;
}

#menu a:last-child {
    margin-right: 0;
}

.tecnologia{
    background-color: var(--azul);
}

.criatividade{
    background-color: var(--rosa-escuro);
}

.lifestyle{
    background-color: var(--verde);
}

.projetos{
    background-color: var(--laranja);
}

.sobre{
    background-color: #FD85C9;
}


/*estilo do main*/
main{
    background-color: white;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 50px;
}

.container#descrição-projeto {
    display: flex;
}

.container#projeto-imagem {
    width: 50vw;
}

#projeto-imagem img {
    width: 580px;
    border-radius: 30px;
}

.container#projeto-texto {
    text-align: left;
    margin-top: 20px;
}

.container#projeto-texto h1 {
    font-family: var(--fonte-corpo);
    font-size: 2.5em;
    background-color: var(--laranja);
    padding: 3px;
    display: inline; /*fazendo com que o background color só cubra até a palavra e não a linha toda*/
    margin-inline: 30px;
}

#projeto-texto h2 {
    margin: 20px 20px;
    margin-left: 25px;
    font-family: var(--fonte-corpo);
    font-size: 1.5em;
    background-color: var(--azul);
    border-radius: 20px;
    padding: 3px;
    display: inline-block;
}

#projeto-texto p {
    font-family: var(--fonte-corpo);
    font-size: 1.2em;
    padding: 15px;
    margin: 5px 5px;
}


/*estilo rodape*/
.container#rodape {
    background-color: #FD85C9;
    text-align: center;
    font-family: var(--fonte-corpo);
    padding: 5px;
}

#rodape a{
   text-decoration: none;
   font-family: var(--fonte-display);
   vertical-align: middle; /*alinhando o texto verticalmente para que ele fique na mesma altura do restante*/
   color: var(--rosa-claro);
}

@media (max-width:990px) {
    
    /*menu hamburguer*/
    #hamburguer {
        display: block;
        font-size: 30px; /* Ajuste o tamanho do ícone */
        color: var(--rosa-escuro); 
        cursor: pointer;
    }
    
    nav a {
        display: none;
    }

    #descrição-projeto {
        flex-direction: column;
        /*organizando elementos filhos em uma coluna*/
    } 
}

@media (max-width:425px) {
    
    #menu a{
        font-size: small;
    }

    .container#descrição-projeto {
        flex-direction: column;
    }

    #projeto-imagem img{
        width: 70vw;
    }

    .container#projeto-texto {
        width: 100%;
    }

    .container#projeto-texto h1 {
        font-size: 1.5em;
    }

    #projeto-texto h2 {
        font-size: 1.1em;
    }
    
    #projeto-texto p {
        font-size: 0.90em;
        text-align: justify;
    }

    #rodape {
        font-size: 0.70em;
    }
}