@charset "+UTF-8";

/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


/*fonte display baixada */
@font-face {
    font-family: 'Cristik';
    src: url('../fontes/cristik/Cristik.ttf') format('truetype');
}

*{
   margin: 0px; 
   padding: 0px;
}

/*configurações de tema e estilo*/
:root{
    /*definindo paleta de cores*/
    --rosa-claro: #F4BDDC;
    --azul: #6EBEFB;
    --rosa-escuro: #F0739D;
    --laranja: #F28A3E;
    --verde: #B2CB7D;

    /*definindo fontes*/
    --fonte-display: 'Cristik';
    --fonte-corpo: 'Hammersmith One', sans-serif;

}

body{
    background-color: var(--rosa-claro);
    text-align: center;
}


/*estilo do menu*/
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 15px;
}

h1{
    font-family: 'Cristik';
    margin: 0;
    padding: 10;
    font-size: 34px;
    line-height: 1;
}

#menu a {
    text-decoration: none;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    font-size: large;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 10px;
}

#menu a:last-child {
    margin-right: 0;
}

.tecnologia{
    background-color: var(--azul);
}

.criatividade{
    background-color: var(--rosa-escuro);
}

.lifestyle{
    background-color: var(--verde);
}

.projetos{
    background-color: var(--laranja);
}

.sobre{
    background-color: #FD85C9;
}


/*estilo do main*/
main{
    background-color: white;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 50px;
}


.container#header {
    display: flex;
}

#imagem-icone img{
    width: 50px;
}

#titulo-artigo h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.8em;
    background-color: var(--rosa-claro);
    padding: 3px;
}


.container#texto {
    width: 80vw;
    text-align: left;
}

.container#texto p {
    font-family: var(--fonte-corpo);
    font-size: 1.2em;
    padding: 10px;
    
}

.container#contato {
    text-align: left;
}

.container#contato h2 {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--rosa-claro);
    padding: 3px;
    display: inline-block;
    margin-left: 10px;
}

.container#info-contato {
    display: flex;
    align-items: center; /*alinhando a img e o p na mesma altura*/
    text-align: left;

}

.container#icone-email img{
    width: 30px;
    margin: 5px;
}

.container#texto-email {
    font-family: var(--fonte-corpo);
    font-size: medium;
}
