@charset "+UTF-8";

/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&family=Chicle&display=swap');

/*configurações reset*/
*{
   margin: 0px; 
   padding: 0px;
}

/*configurações de tema e estilo*/
:root{
    --branco-creme: #FEEFEA;
    --rosa-escuro: #F2508B;
    --rosa-claro: #F2C2D8;
    --roxo: #5061BF;
    --azul-escuro: #3C4973;
}

body{
    background-color: var(--rosa-claro);
}

main{
    background-color: var(--branco-creme);
    padding: 15px;
    margin: 6px;
    border-radius: 50px;
}

.container#menu {
    background-color: transparent;
    text-align: center;
    margin: 15px 15px;
}

.container#menu a {
    background-color: #5061BF;
    text-decoration: none;
    color: #F2508B;
    font-family: 'Chicle', cursive;
    font-size: x-large;
    padding: 5px 10px;
    border-radius: 100%;
    margin: 50px;
}

.container#sobre-mim {
    display: flex;
    margin: 30px;
}

.container#foto-perfil {
    background-color: green;
    width: 50vw;
}

.container#apresentacao {
    background-color: aqua;
    padding: 10px;
    width: 50vw;
}

#apresentacao h1 {
    font-family: 'Chicle', cursive;
    font-size: 3.5em;
    color: var(--rosa-escuro);
}

#apresentacao p {
    font-family: 'Andika', sans-serif;
}

#link-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
  }

.container#link-redes h2 {
    background-color: var(--rosa-claro);
    font-family: 'Chicle', cursive;
    color: #5061BF;
    padding: 3px 5px;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    width: 50vw;
}

#link-redes ul li {
    display: inline-block;
    margin-right: 10px; 
  }

.container#rodape {
    background-color: var(--roxo);
    padding: 10px;
    text-align: center;
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: var(--azul-escuro);
}

#rodape a{
    text-decoration: none;
    color: var(--rosa-escuro);
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
  

