@charset "+UTF-8";

/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


/*fonte display baixada */
@font-face {
    font-family: 'Cristik';
    src: url('../fontes/cristik/Cristik.ttf') format('truetype');
}

*{
   margin: 0px; 
   padding: 0px;
}

/*configurações de tema e estilo*/
:root{
    /*definindo paleta de cores*/
    --rosa-claro: #F4BDDC;
    --azul: #6EBEFB;
    --rosa-escuro: #F0739D;
    --laranja: #F28A3E;
    --verde: #B2CB7D;

    /*definindo fontes*/
    --fonte-display: 'Cristik';
    --fonte-corpo: 'Hammersmith One', sans-serif;

}

body{
    background-color: var(--rosa-claro);
}


/*estilo do menu*/

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 15px;
}

h1{
    font-family: 'Cristik';
    margin: 0;
    padding: 10;
    font-size: 32px;
}

#menu a {
    text-decoration: none;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    font-size: large;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 10px;
}

#menu a:last-child {
    margin-right: 0;
}

.tecnologia{
    background-color: var(--azul);
}

.criatividade{
    background-color: var(--rosa-escuro);
}

.lifestyle{
    background-color: var(--verde);
}

.projetos{
    background-color: var(--laranja);
}

.sobre{
    background-color: #FD85C9;
}


/*configurações de estilo do main*/
main{
    background-color: white;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 50px;
}



.container#call-to-action {
    font-family: 'Hammersmith One', sans-serif !important;
    /*forçando a aplicação da fonte especificada com o !important*/
    display: flex;
    background-color: transparent;
    padding: 16px;
}

#apresentacao {
    width: 35vw;
}

#apresentacao h2 {
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 17px;
    padding: 5px;
}

#apresentacao mark{
    background-color: var(--azul);
}

#apresentacao p {
    font-size: 1.4em;
    line-height: 1.5;
    text-align: justify;
}


#convite {
    background-color: transparent;
    padding: 16px;
    width: 60vw;
}

#convite h3 {
    font-family: 'Cristik';
    font-size: 1.3em;
    padding: 5px;
    text-align: center;
}

#convite mark {
    background-color: #F4BDDC;
    color: var(--rosa-escuro);
    border-radius: 15px;
    padding: 6px;
}

#convite img {
    display: block; /*definindo a imagem como um bloco para que a margem automática funcione*/
    margin: 0 auto; /*centralizando a imagem na horizontal*/
    width: 313px;
    height: auto;
}


.container#beneficios {
    font-family: 'Hammersmith One', sans-serif !important;
    /*forçando a aplicação da fonte especificada com o !important*/
    display: flex;
    background-color: transparent;
    padding: 16px;
}

#sobre {
    width: 30vw;
}

#sobre mark{
    background-color: var(--rosa-escuro);
}
#sobre p {
    font-family: var(--fonte-corpo);
    font-size: 1.4em;
    line-height: 1.5;
}

#imagem-avatar {
    width: 50vw;
}

#imagem-avatar img {
    display: block; /*definindo a imagem como um bloco para que a margem automática funcione*/
    margin: 0 auto; /*centralizando a imagem na horizontal*/ 
    width: 280px;
    height: auto;
}



.container#serviços {
    font-family: 'Hammersmith One', sans-serif !important;
    /*forçando a aplicação da fonte especificada com o !important*/
    display: flex;
    background-color: transparent;
    padding: 16px;
}

#missao {
    width: 60vw;
}

#missao mark{
    background-color: var(--verde);
}

#missao p {
    font-size: 1.4em;
    line-height: 1.5;
    text-align: justify;
    margin: 13px 0;
    /*configurando uma margem superior e inferior para ter mais espaço entre os paragrafos*/
}

#imagem-trofeu {
    width: 33vw;
}

#imagem-trofeu img {
    display: block; /*definindo a imagem como um bloco para que a margem automática funcione*/
    margin: 0 auto; /*centralizando a imagem na horizontal*/ 
    width: 230px;
    height: auto;  
}


.container#pilares {
    font-family: 'Hammersmith One', sans-serif !important;
    /*forçando a aplicação da fonte especificada com o !important*/
    font-size: 1.1em;
    display: block;
    background-color: transparent;
    padding: 16px;
}

#pilar1 {
    background-color: var(--azul);
    border-radius: 50px;
    padding: 17px;
    margin: 8px 0;
    line-height: 1.3;
}

#pilar2 {
    background-color: var(--rosa-claro);
    border-radius: 50px;
    padding: 17px;
    margin: 8px 0;
    line-height: 1.3;
}

#pilar3 {
    background-color: var(--laranja);
    border-radius: 50px;
    padding: 17px;
    margin: 8px 0;
    line-height: 1.3;
}

#pilar4 {
    background-color: var(--verde);
    border-radius: 50px;
    padding: 17px;
    margin: 8px 0;
    line-height: 1.3;
}



.container#redes-socias {
    font-family: 'Hammersmith One', sans-serif !important;
    /*forçando a aplicação da fonte especificada com o !important*/
    display: flex;
    background-color: transparent;
    padding: 16px;
}

#chamada-redes p {
    font-family: 'Hammersmith One', sans-serif !important;
    font-size: 1.4em;
    line-height: 1.4;
    text-align: justify;
    margin: 13px 0;
    /*configurando uma margem superior e inferior para ter mais espaço entre os paragrafos*/   
}

#links-redes ul {
    list-style-type: none; 
    text-align: center;
    margin: 0;
    padding: 0;
}

#links-redes li {
    display: inline-block; /*deixando os icones lado a lado*/
    margin-right: 10vw;
    text-align: center;
    font-family: var(--fonte-display);
    font-size: medium;
}

#links-redes li p {
    background-color: var(--rosa-claro);
    border-radius: 15px;
    

}

#links-redes li img {
    display: block;
    margin: auto;
    width: 50px;
}



.container#rodape {
    background-color: #FD85C9;
    text-align: center;
    font-family: var(--fonte-corpo);
    padding: 5px;
}

#rodape a{
   text-decoration: none;
   font-family: var(--fonte-display);
   vertical-align: middle; /*alinhando o texto verticalmente para que ele fique na mesma altura do restante*/
   color: var(--rosa-claro);
}
  

